<div class="face-snap-card" [ngClass]="{ snapped: buttonText === snapped }">
  <h2>{{ faceSnap.title | uppercase }}</h2>

  <h1>{{ 5265165 | number: "1.2-2" }} €</h1>

  <h1>{{ .256515 | percent}}</h1>

  <h1>{{ 260| currency: "EUR" : "code" }}</h1>

  <p>
    Mis en ligne {{ faceSnap.createdDate | date: "à HH:mm, le d MMMM yyyy" }}
  </p>

  <img [src]="faceSnap.imageUrl" [alt]="faceSnap.title" />

  <p>{{ faceSnap.description }}</p>

  <p *ngIf="faceSnap.location === 'Paris'">
    Photo prise à {{ faceSnap.location | titlecase }}
  </p>

  <p>
    <button (click)="onSnap()">{{ buttonText }}</button>
    <span class="number-of-snaps" [ngStyle]="{ color: 'rgb(0, ' + faceSnap.snaps * 30 + ',0)' }">
      👍 {{ faceSnap.snaps }}
    </span>
  </p>
</div>
