<div class="landing-block">
  <form #emailForm="ngForm" (ngSubmit)="onSubmitForm(emailForm)">
    <label for="emailInput">Inscrivez-vous à notre newsletter : </label>
    <input
      type="email"
      name="userEmail"
      id="emailInput"
      [(ngModel)]="userEmail"
    />
    <button type="submit" class="btn btn-secondary">OK !</button>
  </form>

  <img src="../../assets/snapface.png" alt="Snapface logo" />
  <div class="landing-links">
    <button (click)="goToFaceSnapsPage()" class="btn btn-secondary">
      Continuer vers Snapface
    </button>
  </div>
</div>
